body{
    font-family: "Roboto", sans-serif;
    background-color: var(--light-grey-color);
    
}

h1{
    font-size: 18px;
}

.title{
    padding-top: 12px;
}

h2{
    font-weight: normal;
    line-height: 16.41px;
    font-size: 16px;
}

.views{
    padding-top: 7px;
}

p{
    line-height: 18.75px;
}

.description{
    padding-top: 9px;
    display: flex;
    justify-content: flex-start;
    width: 540px;
}

.box{
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.container{
    display: grid;
    grid-template-columns: 570px 1fr;
    /*grid-gap: 20px 5px;*/
    row-gap: 20px;
}

.video-list{
    grid-area: 2/2/3/3;
    margin-top: -279px;
}

.video{
    content: " ";
    background-color: var(--dark-grey-color);
    width: 550px;
    height: 200px;
}

.propaganda{
    background-color: var(--dark-grey-color);
    font-size: 11px;
    line-height: 12.89px;
    width: 270px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-list h3{
    font-size:14px;
}


.mini-video{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 10px;
}

.video-info p{
    font-size: 11px;
}

.thumbnail{
    content: " ";
    background-color: var(--dark-grey-color);
    width: 100px;
    height: 70px;
    margin: 5px 5px 0px 0px;
}

